body {
    background-color: #f8f9fa;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Títulos uniformes */
h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #800020; /* Rojo vinotinto */
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    text-align: center;
    
}

h3 {
    font-size: 1.75rem;
    font-weight: normal;
}

/* Párrafos uniformes */
p {
    font-family: 'Verdana', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555555; /* Gris oscuro para contraste */
    
}

/* Color de texto destacado */
.text-primary {
    color: #800020 !important; /* Rojo vinotinto */
}

.carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 5px;
}


.banner {
    background-position: center;
    color: white;
    padding: 200px 0;
    text-align: center;
}

    .banner h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    .banner p {
        font-size: 1.2rem;
    }

#equipo {
    text-align: center;
}

.d-block {
    height: 500px;
    object-fit: cover;
}

div {
    justify-content: start;
 
}

#imgequip {
    width: 180px;
    height: 160px;
}

#cont {
    text-align: center;
}

#seccion-login {
    text-align: center;
}

#menulogo {
    height: 60px;
}