
@{
    ViewData["Title"] = "agregar_productos";
}


<h3>agregar productos <span class="badge text-bg-secondary">Agregar</span></h3>
<div class="container mt-3">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control-sm" id="nombre" placeholder="Ingrese su nombre"> </div> 
    </div>

<div class="container mt-3">
    <div class="form-group">
        <label for="stock">Stock</label>
        <input type="text" class="form-control-sm" id="stock" placeholder="Ingrese stock">
    </div>
</div>

<div class="container mt-3">
    <div class="form-group">
        <label for="sku">Sku</label>
        <input type="text" class="form-control-sm" id="sku" placeholder="Ingrese sku">
    </div>
</div>

<div class="container mt-3">
    <div class="form-group">
        <label for="n_producto">nombre del producto</label>
        <input type="text" class="form-control-sm" id="producto" placeholder="Ingrese nombre del producto">
    </div>
</div>

<div class="container mt-3">
    <div class="form-group">
        <label for="descripcion">descripcion del producto</label>
        <input type="text" class="form-control-sm" id="descripcion" placeholder="Ingrese descripcion">
    </div>
</div>

<div class="container mt-3">
    <div class="form-group">
        <label for="stock">stock producto</label>
        <input type="text" class="form-control-sm" id="stock" placeholder="Ingrese stock">
    </div>
</div>

<div class="container mt-3">
    <div class="form-group">
        <label for="precio">precio  producto</label>
        <input type="text" class="form-control-sm" id="precio" placeholder="Ingrese precio">
    </div>
</div>




   


